In [6]:
L = [1, 3, 4.9, 'name', 3]
T = (1, 3, 4.9, 'name', 3)
S = {1, 3, 4.9, 'name', 3}

In [7]:
S = {1,2,3}

In [9]:
S2= S.copy()

In [10]:
S

{1, 2, 3}

In [11]:
S2

{1, 2, 3}

In [12]:
S2.append(4)

AttributeError: 'set' object has no attribute 'append'

In [13]:
S2[3] = 4

TypeError: 'set' object does not support item assignment

In [14]:
S

{1, 2, 3}

In [15]:
S2

{1, 2, 3}

In [17]:
S2.remove(2)

In [18]:
S2

{1, 3}

In [19]:
S

{1, 2, 3}

In [20]:
S3 = S + S2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [25]:
D = {'A':'a', 'B':3}

In [31]:
D['A'][0]

'a'

In [33]:
for x in D:
    print(x, D[x])

A a
B 3

In [34]:
L3 = [x**2 for x in range(10)]

In [35]:
L3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def getDataFromUser():
    D = {}
    while True:
        studentId = input('Enter student ID: ')
        marksList = input('Enter the marks by comma separted values: ')
        moreStudents = input('Enter "no" to quit insertion: ')
        if studentId in D:
            print(studentId, 'is already inserted')
        else:
            D[studentId] = marksList.split(',')
        if moreStudent.lower() == 'no':
            return D