# Hello World

In [3]:
x = 3

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [5]:
print(type(x))

<class 'int'>

In [6]:
x = 3.0

In [7]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    3.0

In [8]:
print(type(x))

<class 'float'>

In [9]:
3x = 4

SyntaxError: invalid decimal literal (3434516666.py, line 1)

In [10]:
print((not(2!=3) and True) or (False and True))

False

In [11]:
print(round(3.323333))

3

In [13]:
print(round(3.323333, 2))

3.32

In [15]:
divmod(5,2)

(2, 1)

In [18]:
print(isinstance(3.3,int))

False

In [1]:
x = input('Enter a number: ')

Enter a number: 44

In [2]:
type(x)

str

In [3]:
x**y

NameError: name 'y' is not defined

In [4]:
2**3

8

In [6]:
a = int(input())

Essa

ValueError: invalid literal for int() with base 10: 'Essa'

In [13]:
a = int(input())
b= int(input())
if a>b:
    print('a is greater than b')
else:
    print('b is greater than a')

3
2
a is greater than b

In [15]:
a = float(input('Enter number for a: '))
b = float(input('Enter number for b: '))
if a>b:
    print('a is greater than b')
elif a==b:
    print('a is equal to b')
else:
    print('a is not equal to b')

Enter number for a: 2
Enter number for b: 2
a is equal to b

In [22]:
x = float(input('Enter float number: '))
print(int(x))
if x%2==0:
    print('The number is even')
else:
    print('The number is odd')

Enter float number: 233
233
The number is odd

In [26]:
L = []
for i in range(10):
    print(i+1)
L.append(i**2)

1
2
3
4
5
6
7
8
9
10

In [32]:
S = {'apple', 4.9, 'cherry'}
for x in S:
    print(x)
else:
    print('Loop completed')

apple
cherry
4.9
Loop completed

In [34]:
def printSuccess():
    print('Print function')
printSuccess()

Print function